main.container
  section.row
    article.col-sm-8
      h1 Content Types
      p.lead These are the primary content types for <a href="http://distinctpawn.com" target="_blank">distinctpawn.com</a>
      ol
        li: a(href="{{ site.baseurl }}/ct/") Overview
        li: a(href="{{ site.baseurl }}/ct/blog-post") Blog Post
        li: a(href="{{ site.baseurl }}/ct/service") Service
