section.b_contant
  //.b_contact_title Contact Us
  img(src="http://distinctpawn.com/application/files/cache/6fae8ed733e3d347d03b9ee2018724b0.png").b_contact_img.img-responsive
  .b_contact_info
    .b_bio_contact_name Distinct Pawn & Gifts
    .b_bio_contact_address--l1 24522 State Road 35
    .b_bio_contact_address--l2 Siren, WI 54872
    div: a.b_bio_contact_phone (715) 349-4868

    
