
section.row
  aside.col-sm-2.col-md-3.sb--first
    | {% include n_services.html %}
  article.col-sm-7
    section.b_.row
      .col-sm-6.col-md-4
        h3 For Fast Cash
        p ... with no hassles, come see us today.
        p Safe, secure, honest and confidential.
      .col-sm-6.col-md-4
        h3 Visit Our Store
        p ... to see our inventory of new and near new items as much as 50% off retail.
      .col-sm-12.col-md-4
        h3 Community
        p ... we are there, not only during a financial emergency, but you will see us around working in our community for charity and giving back with our time helping families.
  aside.col-sm-3.col-md-2
    | {% include n_products.html %}
