nav.n_products
  h3.n_products_title We Buy / Sell / Trade
  ul.n_services_l.nav.nav-pills.nav-stacked
    li.n_services_l_t--1
      a(href="{{ site.baseurl }}/products/guns") Guns
    li.li.n_services_l_t--2
      a(href="{{ site.baseurl }}/products/jewelry") Jewelry & Watches
    li.n_services_l_t--3
      a(href="{{ site.baseurl }}/products/electronics") Electronics
    li.n_services_l_t--4
      a(href="{{ site.baseurl }}/products/music") Music Equipment
    li.n_services_l_t--5
      a(href="{{ site.baseurl }}/products/guitars") Guitars
    li.n_services_l_t--6
      a(href="{{ site.baseurl }}/products/tools") Tools
    li.n_services_l_t--7
      a(href="{{ site.baseurl }}/products/tvs") TV's - LED & LCD
    li.n_services_l_t--8
      a(href="{{ site.baseurl }}/products/coins") Coins
    li.n_services_l_t--9
      a(href="{{ site.baseurl }}/products/laptops") Laptops
    li.n_services_l_t--10
      a(href="{{ site.baseurl }}/products/ipads") iPads
    li.n_services_l_t--11
      a(href="{{ site.baseurl }}/products/android-tablets") Android Tablets
    li.n_services_l_t--12
      a(href="{{ site.baseurl }}/products/cell-phones") Cell Phones
    li.n_services_l_t--13
      a(href="{{ site.baseurl }}/products/cameras") Cameras
    li.n_services_l_t--14
      a(href="{{ site.baseurl }}/products/gold-silver") Gold & Silver
    li.n_services_l_t--15
      a(href="{{ site.baseurl }}/products/game-systems") Game Systems
    li.n_services_l_t--16
      a(href="{{ site.baseurl }}/products/fishing") Fishing Equipment
