nav.n_services
  h3.n_services_title Services
  ul.n_services_l.nav.nav-pills.nav-stacked
    li.n_services_l_t--1
      a(href="#") Estate & Moving Sales
    li.li.n_services_l_t--2
      a(href="#") Trade
    li.n_services_l_t--3
      a(href="#") Consignment
    li.n_services_l_t--4
      a(href="#") Loans
    li.n_services_l_t--5
      a(href="#") We Buy
    li.n_services_l_t--6
      a(href="#") We Sell
