main.container
  section.row
    article.col-sm-8
      h1 About Michael Gregory
      p.lead As a member of the National Speakers Association Michael Gregory provides dynamic, energetic presentations and services to clients as a consultant. Topics include
      ul
        li leadership and opportunity,
        li conflict resolution issues,
        li diversity and communiction,
        li mediation and negotiation skills
        li as well as technical topics related to tax issues.
      p With a background in tax (28 years at the IRS at all levels) and management (25 years at all levels) Mike is poised to effectively work with you to address your needs.
      p Since joining the private sector over 4 years ago Mike has:
      ul
        li written 10 books,
        li developed 14 videos
        li and averages between 40 - 50 presentations a year
      p While continuing to service clients with their:
      ul
        li tax,
        li mediation,
        li negotiation and/or
        li leadership needs.
      p As the Chief Manager of Michael Gregory Consulting, LLC, Michael A. Gregory, is an Accredited Senior Appraiser with the American Society of Appraisers (ASA), and a Certified Valuation Analyst with the National Association of Certified Valuation Analysts (NACVA).
      p In the third quarter of 2013 he was selected as the outstanding member of NACVA. Mike is a Qualfied Mediator with the Minnesota Supreme Court. He has conducted nearly 500 mediations since 2000 for the IRS, within the MN Court system and with his firm. Each client receives total customer commitment with an emphasis on timely, quality closures related to mediation and negotiation.
      p Besides the books and vidoes that have been prepared to help you, here are some of the articles MIke has written segregated by "Tax Issues", and "Leadership and Conflict Resolution Issues":
    aside.col-sm-4.sb--first
      section.b_mission
        h3 Mission Statement
        .b_mission-l1 First rate work with least cost to my clients.
        .b_mission-l2 Provide top quality service by helping clients identify, address and resolve issues.
        .b_mission-l3 In short:
        .b_mission-l4 do the right thing;
        .b_mission-l5 do what it takes;
        .b_mission-l6 and have fun.
      section.b_events
        h3 Speaking Engagements
        .b_events-i
          .b_events-i-date 
          .b_events-i-title 
          .b_events-i-loc 
          .b_events-i-assoc 
  section.row.b_bibliography
    .col-12-xs
      h3 Bibliography
    .col-6-sm
      .b_bibliography-i
        h4 IRS oversight of CPA's that provide valuation services, Journal of Accountancy, December 2013 (co-authored with Renee Marino)
        blockquote
          p Under Sec. 6695A, enacted by the Pension Protection Act of 2006, P.L. 109-280, appraisers may face monetary penalties for appraisals that lead to substantial and gross valuation misstatements on returns.
          p This section is intended to provide greater assurance that all appraisers and appraisals meet a minimum threshold of qualification. These qualifications include those of Secs. 170(f)(11)(E)(ii) and (iii). This article presents a clear concise commentary on who is considered qualified and what standards are required for any CPA providing valuation services.
      .b_bibliography-i
        h4 Developing a Discount for Lack of Marketabiltiy for Federal Tax Purposes, Valuation Strategies, (no link) January 2014
      .b_bibliography-i
        h4 IRS Oversight of CPAs Who Provide Valuation Services, The Tax Advisor, November 2013 (co-authored with Renee Marino)
        blockquote
          p A Code Section 6695A appraisal review by the IRS could result in a large penalty for a CPA and also could lead to a referral to the Office of Professional Responsibility. This article discusses the Code Section 6695A penalty and the standards for appraisals and gives insight into the IRS appraisal review process.
      .b_bibliography-i
        h4 Working with the Human Side of the IRS (no link), KALA The Official Publication of the Hawaii Society of CPAs, April 2013
        blockquote
          p This article addresses that the human side of relationships is even more important than the technical work of CPAs. The work product needs to be communicated effectively. If working with the IRS developing a good working relationship by being prepared, being warm, staying focused on the problem, working with the right person, identifying and addressing interests,answering only what is asked, and helping the IRS person all help in resolving issues sooner.
      .b_bibliography-i
        h4 The Human Side of the IRS (no link), Footnote, The Minnesota Society of CPAs, March 2013
        blockquote
          p As a former IRS insider I offer tips for successful interactions with this tax collection agency. Tow key points are to first establish a good rapport, and second with the facts it's all about a professional, unbiased delivery. When working with an IRS auditor, provide adjustments, provide answers only to what is asked, help the auditor save time, be hospitable, and be prepared. With thirteen different silos at the IRS, each with their own culture, make sure you are speaking with the right party about your issue and don't be afraid to raise an issue in management.
      .b_bibliography-i
        h4 Understanding the U.S. Tax Court Litigation Process (no link), National Litigation Consultants Review, Volume 1 January 2013
        blockquote
          p The process of filing, auditing and litigating cases is presented from a macro perspective. A focus is presented on the five parts an expert appraiser needs to know and understand if the case is litigated by the IRS in U.S. Tax Court. These five parts are (1) background, (2) preparing a report, (3) preparing for trial, (4) trial, and (5) post trial assistance. Each of the five parts is explained with an emphasis that many experts do not understand the critical role they play in part 5 when briefs and reply briefs are prepared. The expert needs to clearly articulate their work and to assist counsel with refuting the opposing experts report and the additional analysis as presented in the brief.
    .col-6-sm
      .b_bibliography-i
        h4 Enhancing Your Effectiveness at Work and with Your Life: Tools to Make You More Effective, Quick Read Buzz, October 8, 2015
        blockquote
          p In my book, The Sevant Manager: 203 tips from the best places to work in America, chapter 16 addresses Multiplying Your Effectiveness. After addressing over 50 Executive Leaders an Owners with revenues between $10 M and $150 M in the Twin Cities of Minneapolis and St. Paul and again in Atlanta, Mike found that they identified their top three issues as enhancing effectiveness, time management and communication. Mike took this to heart and wrote this aricle to bring key points to help them and you with enhancing your effecdtiveness and two articles that follow. Enhancing effectiveness revolves around listening to employees, providing timely quality feedback, providing resources needed by the employee and giving employees a chance to shine. Several models are presented to allow an employee and the firm to enhance effectiveness including the tips from Stephen Covey’s book, management by wandering around, and the Pareto rule.
      .b_bibliography-i
        h4 Manage Your Time and Your Life, Quick Read Buzz October 1, 2015

This article addresses time management, avoiding time wasters, prioritizing what is important to you, setting goals and writing them down, and looking at life holistically to help bring peace to our otherwise turbulent hectic life style.
      .b_bibliography-i
        h4 Communicating Effectively with Others: Recognizing How a Position Based Perspective Limits Communication, Quick Read Buzz Septemer 9, 2015
        blockquote
          p Conflicts exist with clients, co-workers, and with the other side on valuation issues. Most valuation cases settle well before litigation. This article focuses on steps that can be taken to enhance your perspective and work with those you find difficult to communicate with in any setting.
      .b_bibliography-i
        h4 Promote Opportunity: Demonstrate Leadership to Get Ahead, Quick Read Buzz, September 24, 2015
        blockquote
          p Training leaders means developing a partnership between the employer and employees. This involves both bottom line and business metrics, as well as behavioral and team building skills. The issues related to soft skills such as behavioral and team-building skills are explored in depth in Mike Gregory’s book, The Servant Manager, 203 tips from the best places to work in America.This article introduces some of the concepts from this book and a corresponding video series.
      .b_bibliography-i
        h4 Overcoming Conflict and Developing Peaceful Resolutions: Conflict Resolution in the Business World, Quick Read Buzz Septemer 16, 2015
        blockquote
          p Conflicts exist with clients, co-workers, and with the other side on valuation issues. Most valuation cases settle well before litigation. This article focuses on steps that can be taken to enhance your perspective and work with those you find difficult to communicate with in any setting.
      .b_bibliography-i
        h4 Promote Quality: How to Hire, Train and Retain the Best Employees, Quick Read Buzz, October 15, 2015
        blockquote
          p This article was written after Mike helped out several accounting firms and other clients with this issue. This was not a supply push item on Mike's part, but a demand pull request from clients after having worked with them on mediation/negotiaton issues. Training leaders means developing a partnership between the employer and employees. This commitment takes time and involves both bottom line and business metrics, as well as behavioral and team building skills. The issues related to soft skills, such as behavioral and team building skills are explored in depth in Mike Gregory’s book, The Servant Manager, 203 tips from the best places to work in America. This article introduces some of the concepts from this book and a corresponding video series.
