.container
  .row
    article.col-sm-8
      h1 Products
    aside.col-sm-4
      {% include n_products.html %}
    .col-sm-12
      img(src="http://www.distinctpawn.com/application/files/1114/5340/2221/ForLoansDiagram2RV1.png").img-responsive
